.editProfile{
    
    display:flex;
    align-items:center;
    grid-gap:20px;
}

.profileLogo{
    width:200px;
    height:200px;
    border-radius:100%;
    border:blueviolet solid 3px;
    margin-left: 10px;
}

.message{
    margin-top:20px;
    width: 300px;
    min-height:30px;
    border-radius:20px;
    background:white;
    border:black solid 1px;
}
.messageSend{
    background:transparent;
    border: none;
    margin-top:3px;
    margin-left:5px;
}


.editProfile__userName{
    color:white;
    margin-bottom:20px;
}