.messageShow{
    width:500px;
    min-height:43px;
    
    color:white;
    background:blueviolet;
    padding:10px;
    border-radius:5px;
    
}
.post{
    display:flex;
    
    grid-gap:10px;
    margin:20px;
   
    
}

.delBut{
    align-self:flex-end;
}
