.header{
    grid-area:a;
    position: sticky;
    top:0;
    z-index:999;
    padding:0 7px;

}
.headerItems{
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}
.logo{
    height:50px;
    width:50px;
    border-radius:100%;
    

}
.search{
    height:30px;
    width:300px;
    
}
.settingsLogo{
    height:60px;
    width:60px;
}   