.header{
    grid-area:a;
    
}
.headerItems{
    display:inline-block;
}
.logo{
    height:60px;
    width:60px;

}
.search{
    height:30px;
    width:120px;
}
.settingsLogo{
    height:60px;
    width:60px;
}