
html{
    font-size:16px;
}

*, *::before, *::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Ubuntu", "sans-serif";
}
body{
    padding: 10px 10vw;
    background:darkcyan;
    
}
ul, ol, li{
    list-style:none;
}
a{
    text-decoration: none;
}
.App{
    display:grid;
    grid-template-areas: "a a a" "d b b";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap:10px;
    min-height:100vh;
    

}



.bg_container{
    background:linear-gradient(0deg, blue, rgb(43, 97, 116));
    box-shadow: 8px 8px 7px -1px gray;
}